# HW5-2_xj655 SQL

In [1]:
try:
    import urllib2 as ulib
except ImportError:
    import urllib3 as ulib

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode
    
try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError

import ast
import pandas as pd

In [2]:
API_URL = 'https://fb55.carto.com:443/api/v2/sql?q='

def queryCartoDB(query, formatting = 'CSV', source = API_URL):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    
    data = urlencode({'format': formatting, 'q': query}).encode("utf-8")
    try:
        response = urlopen(source, data)
        return response.read()
    except HTTPError as e:
        raise (ValueError('\n'.join(ast.literal_eval(e.readline())['error'])))
        
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(query)), sep = ',')
    except ValueError as v:
        print (str(v))

In [6]:
query = '''SELECT * FROM fb55.citibike; '''
table = get_data(query)
table.head(5)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0

# Task 1 — Familiarize with SQL Clauses

In [12]:
#Sort data by start_station_id, tripduration. Only checking trips with duration <= 3 hours

query = '''SELECT * FROM fb55.citibike 
        WHERE tripduration <= 3*3600
        ORDER BY start_station_id ASC 
        LIMIT 10'''
table = get_data(query)
table.head(11)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 52 St & 11 Ave,NaN,3370,-73.993929,569,2015-02-01 14:52:00+00,2015-02-01 15:01:00+00,72,3302,40.767272,499,Broadway & W 60 St,40.769155,-73.981918,17429,Subscriber,1981.0,1
1,NaN,W 52 St & 11 Ave,NaN,4024,-73.993929,387,2015-02-01 15:57:00+00,2015-02-01 16:03:00+00,72,3957,40.767272,514,12 Ave & W 40 St,40.760875,-74.002777,15282,Subscriber,1991.0,1
2,NaN,W 52 St & 11 Ave,NaN,2348,-73.993929,301,2015-02-01 13:08:00+00,2015-02-01 13:13:00+00,72,2282,40.767272,447,8 Ave & W 52 St,40.763707,-73.985162,18174,Subscriber,1974.0,1
3,NaN,W 52 St & 11 Ave,NaN,2051,-73.993929,1944,2015-02-01 12:39:00+00,2015-02-01 13:12:00+00,72,1983,40.767272,328,Watts St & Greenwich St,40.724055,-74.009660,17849,Customer,NaN,0
4,NaN,W 52 St & 11 Ave,NaN,455,-73.993929,961,2015-02-01 08:38:00+00,2015-02-01 08:54:00+00,72,387,40.767272,212,W 16 St & The High Line,40.743349,-74.006818,20786,Subscriber,1972.0,2
5,NaN,W 52 St & 11 Ave,NaN,1597,-73.993929,962,2015-02-01 11:47:00+00,2015-02-01 12:03:00+00,72,1527,40.767272,212,W 16 St & The High Line,40.743349,-74.006818,16524,Subscriber,1977.0,1
6,NaN,W 52 St & 11 Ave,NaN,2208,-73.993929,339,2015-02-01 12:54:00+00,2015-02-01 13:00:00+00,72,2142,40.767272,478,11 Ave & W 41 St,40.760301,-73.998842,19672,Subscriber,1982.0,1
7,NaN,W 52 St & 11 Ave,NaN,718,-73.993929,344,2015-02-01 09:49:00+00,2015-02-01 09:54:00+00,72,649,40.767272,2021,W 45 St & 8 Ave,40.759291,-73.988597,14692,Subscriber,1986.0,2
8,NaN,W 52 St & 11 Ave,NaN,1299,-73.993929,934,2015-02-01 11:14:00+00,2015-02-01 11:30:00+00,72,1230,40.767272,212,W 16 St & The High Line,40.743349,-74.006818,17541,Subscriber,1969.0,1
9,NaN,W 52 St & 11 Ave,NaN,5202,-73.993929,455,2015-02-01 17:55:00+00,2015-02-01 18:03:00+00,72,5136,40.767272,529,W 42 St & 8 Ave,40.757570,-73.990985,16427,Subscriber,1983.0,1

In [66]:
#List all unique start_station_id values
query = '''Select distinct start_station_id from fb55.citibike 
where start_station_id is not null
order by start_station_id
         '''
table = get_data(query)
table.head()

   start_station_id  Unnamed: 1
0                72         NaN
1                79         NaN
2                82         NaN
3                83         NaN
4               116         NaN

In [19]:
#Aggregation functions:
#Count the number of trips (aka wc -l in SQL) 
#Find the average/min/max trip duration
query = '''Select count(starttime) as number_of_trip, avg(tripduration), min(tripduration), max(tripduration) from fb55.citibike 
where start_station_id is not null
         '''
table = get_data(query)
table

   number_of_trip         avg  min    max
0           46200  675.865823   60  43016

# Task 2 — Working with date/time

Selecting trips started on Feb-02-2015 only

Selecting trips started on the weekends
    What are average trip duration during weekends? 

Can we do the same for weekday?

In [24]:
query = '''Select * From fb55.citibike
Where Extract(YEAR FROM starttime::date)>=2015 AND
Extract(MONTH FROM starttime::date)>=2 AND
Extract(DAY FROM starttime::date)>=2
         '''
table = get_data(query)
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
1,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
2,NaN,E 39 St & 3 Ave,NaN,8327,-73.976049,441,2015-02-03 08:02:00+00,2015-02-03 08:10:00+00,167,8263,40.748901,526,E 33 St & 5 Ave,40.747659,-73.984907,21518,Subscriber,1975.0,1
3,NaN,10 Ave & W 28 St,NaN,9435,-74.001768,1475,2015-02-03 12:31:00+00,2015-02-03 12:56:00+00,489,9375,40.750664,455,1 Ave & E 44 St,40.750020,-73.969053,19863,Subscriber,1984.0,2
4,NaN,E 2 St & 2 Ave,NaN,10472,-73.990697,420,2015-02-03 16:45:00+00,2015-02-03 16:52:00+00,403,10411,40.725029,297,E 15 St & 3 Ave,40.734232,-73.986923,19257,Subscriber,1984.0,1
5,NaN,1 Ave & E 44 St,NaN,10931,-73.969053,876,2015-02-03 17:37:00+00,2015-02-03 17:52:00+00,455,10867,40.750020,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1977.0,1
6,NaN,W 45 St & 6 Ave,NaN,11361,-73.982912,640,2015-02-03 18:21:00+00,2015-02-03 18:32:00+00,493,11300,40.756800,440,E 45 St & 3 Ave,40.752554,-73.972826,21433,Subscriber,1981.0,1
7,NaN,W 18 St & 6 Ave,NaN,12173,-73.994564,571,2015-02-03 20:26:00+00,2015-02-03 20:35:00+00,168,12114,40.739713,494,W 26 St & 8 Ave,40.747348,-73.997236,19493,Subscriber,1964.0,1
8,NaN,E 58 St & 3 Ave,NaN,12211,-73.967245,821,2015-02-03 20:37:00+00,2015-02-03 20:50:00+00,305,12152,40.760958,515,W 43 St & 10 Ave,40.760094,-73.994618,16564,Subscriber,1983.0,1
9,NaN,E 33 St & 5 Ave,NaN,12560,-73.984907,376,2015-02-03 22:20:00+00,2015-02-03 22:26:00+00,526,12500,40.747659,507,E 25 St & 2 Ave,40.739126,-73.979738,19721,Subscriber,1991.0,1
10,NaN,W 31 St & 7 Ave,NaN,13239,-73.991600,770,2015-02-04 07:21:00+00,2015-02-04 07:34:00+00,379,13183,40.749156,461,E 20 St & 2 Ave,40.735877,-73.982050,15184,Subscriber,1987.0,2
11,NaN,5 Ave & E 29 St,NaN,13365,-73.986831,319,2015-02-04 07:35:00+00,2015-02-04 07:40:00+00,474,13312,40.745168,476,E 31 St & 3 Ave,40.743943,-73.979661,16067,Subscriber,1991.0,1
12,NaN,E 39 St & 2 Ave,NaN,13750,-73.973442,358,2015-02-04 08:11:00+00,2015-02-04 08:17:00+00,518,13702,40.747804,537,Lexington Ave & E 24 St,40.740259,-73.984092,19181,Subscriber,1991.0,1
13,NaN,10 Ave & W 28 St,NaN,14218,-74.001768,338,2015-02-04 08:45:00+00,2015-02-04 08:50:00+00,489,14172,40.750664,494,W 26 St & 8 Ave,40.747348,-73.997236,18840,Subscriber,1992.0,2
14,NaN,W 42 St & 8 Ave,NaN,14431,-73.990985,575,2015-02-04 08:59:00+00,2015-02-04 09:08:00+00,529,14384,40.757570,442,W 27 St & 7 Ave,40.746647,-73.993915,15151,Subscriber,1956.0,1
15,NaN,E 27 St & 1 Ave,NaN,15157,-73.976806,451,2015-02-04 10:10:00+00,2015-02-04 10:17:00+00,2012,15113,40.739445,518,E 39 St & 2 Ave,40.747804,-73.973442,20338,Subscriber,1990.0,2
16,NaN,Great Jones St,NaN,15669,-73.993790,548,2015-02-04 11:51:00+00,2015-02-04 12:00:00+00,229,15625,40.727434,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,15482,Subscriber,1962.0,1
17,NaN,W 49 St & 8 Ave,NaN,16526,-73.987882,404,2015-02-04 14:08:00+00,2015-02-04 14:14:00+00,450,16481,40.762272,520,W 52 St & 5 Ave,40.759923,-73.976485,17488,Subscriber,1965.0,2
18,NaN,Broadway & W 24 St,NaN,16572,-73.989151,357,2015-02-04 14:15:00+00,2015-02-04 14:21:00+00,444,16527,40.742354,475,E 16 St & Irving Pl,40.735243,-73.987586,17453,Subscriber,1975.0,1
19,NaN,E 40 St & 5 Ave,NaN,18931,-73.981632,330,2015-02-04 18:02:00+00,2015-02-04 18:08:00+00,153,18880,40.752062,518,E 39 St & 2 Ave,40.747804,-73.973442,18973,Subscriber,1980.0,1
20,NaN,E 16 St & 5 Ave,NaN,19229,-73.992390,606,2015-02-04 18:19:00+00,2015-02-04 18:29:00+00,496,19177,40.737262,379,W 31 St & 7 Ave,40.749156,-73.991600,18362,Subscriber,1981.0,1
21,NaN,Broadway & W 36 St,NaN,20481,-73.987654,1001,2015-02-04 19:59:00+00,2015-02-04 20:15:00+00,267,20425,40.750977,504,1 Ave & E 15 St,40.732219,-73.981656,19935,Subscriber,1985.0,2
22,NaN,8 Ave & W 31 St,NaN,21285,-73.994811,1618,2015-02-04 21:58:00+00,2015-02-04 22:25:00+00,521,21228,40.750450,483,E 12 St & 3 Ave,40.732233,-73.988900,14660,Subscriber,1976.0,1
23,NaN,W 45 St & 6 Ave,NaN,23338,-73.982912,876,2015-02-05 08:29:00+00,2015-02-05 08:43:00+00,493,23298,40.756800,454,E 51 St & 1 Ave,40.754557,-73.965930,16891,Subscriber,1964.0,1
24,NaN,FDR Drive & E 35 St,NaN,23392,-73.971212,506,2015-02-05 08:32:00+00,2015-02-05 08:40:00+00,501,23353,40.744219,164,E 47 St & 2 Ave,40.753231,-73.970325,18208,Subscriber,1978.0,1
25,NaN,6 Ave & W 33 St,NaN,23425,-73.988484,683,2015-02-05 08:34:00+00,2015-02-05 08:46:00+00,505,23386,40.749013,167,E 39 St & 3 Ave,40.748901,-73.976049,18744,Subscriber,1968.0,1
26,NaN,E 27 St & 1 Ave,NaN,24193,-73.976806,522,2015-02-05 09:14:00+00,2015-02-05 09:23:00+00,2012,24155,40.739445,455,1 Ave & E 44 St,40.750020,-73.969053,21690,Subscriber,1977.0,2
27,NaN,12 Ave & W 40 St,NaN,24660,-74.002777,946,2015-02-05 09:51:00+00,2015-02-05 10:07:00+00,514,24623,40.760875,377,6 Ave & Canal St,40.722438,-74.005664,21248,Subscriber,1991.0,1
28,NaN,W 52 St & 9 Ave,NaN,24831,-73.987895,482,2015-02-05 10:10:00+00,2015-02-05 10:18:00+00,449,24794,40.764618,493,W 45 St & 6 Ave,40.756800,-73.982912,17842,Subscriber,1982.0,1
29,NaN,8 Ave & W 33 St,NaN,25003,-73.993934,592,2015-02-05 10:35:00+00,2015-02-05 10:45:00+00,490,24966,40.751551,484,W 44 St & 5 Ave,40.755003,-73.980144,16056,Subscriber,1962.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39729,NaN,Washington Pl & Broadway,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,46171,40.729039,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
39730,NaN,Allen St & Hester St,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,46172,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
39731,NaN,Warren St & Church St,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,46173,40.714740,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
39732,NaN,E 12 St & 3 Ave,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,46174,40.732233,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
39733,NaN,Dean St & 4 Ave,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,46175,40.683125,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
39734,NaN,Allen St & Hester St,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,46176,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
39735,NaN,Broadway & E 22 St,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,46177,40.740343,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
39736,NaN,Washington Pl & 6 Ave,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,46178,40.732241,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
39737,NaN,E 31 St & 3 Ave,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,46179,40.743943,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
39738,NaN,Broadway & W 60 St,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,46180,40.769155,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
39739,NaN,Carmine St & 6 Ave,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,46181,40.730386,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
39740,NaN,W 52 St & 5 Ave,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,46182,40.759923,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
39741,NaN,Dean St & 4 Ave,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,46183,40.683125,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
39742,NaN,9 Ave & W 45 St,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,46184,40.760193,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
39743,NaN,Broadway & W 58 St,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46185,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
39744,NaN,Broadway & W 58 St,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46186,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
39745,NaN,Watts St & Greenwich St,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,46187,40.724055,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
39746,NaN,W 51 St & 6 Ave,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,46188,40.760660,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
39747,NaN,University Pl & E 14 St,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,46189,40.734927,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
39748,NaN,W 11 St & 6 Ave,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,46190,40.735324,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
39749,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
39750,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
39751,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
39752,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
39753,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
39754,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
39755,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
39756,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
39757,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
39758,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

In [40]:
#Selecting trips started on the weekends What are average trip duration during weekends?
query = '''Select * From fb55.citibike
Where extract(dow from starttime)= 0 or
    extract(dow from starttime) = 6
         '''
table = get_data(query)
table

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0
5,NaN,E 20 St & 2 Ave,NaN,39894,-73.982050,296,2015-02-07 08:13:00+00,2015-02-07 08:18:00+00,461,39876,40.735877,435,W 21 St & 6 Ave,40.741740,-73.994156,17278,Subscriber,1987.0,1
6,NaN,Broadway & W 60 St,NaN,41512,-73.981918,600,2015-02-07 12:35:00+00,2015-02-07 12:45:00+00,499,41501,40.769155,523,W 38 St & 8 Ave,40.754666,-73.991382,15224,Subscriber,1959.0,1
7,NaN,E 6 St & Avenue D,NaN,41595,-73.976687,1203,2015-02-07 12:47:00+00,2015-02-07 13:07:00+00,411,41585,40.722281,428,E 3 St & 1 Ave,40.724677,-73.987834,21461,Subscriber,1968.0,1
8,NaN,Great Jones St,NaN,41806,-73.993790,520,2015-02-07 13:16:00+00,2015-02-07 13:25:00+00,229,41796,40.727434,168,W 18 St & 6 Ave,40.739713,-73.994564,14621,Subscriber,1964.0,1
9,NaN,W 13 St & 6 Ave,NaN,42316,-73.997044,487,2015-02-07 14:18:00+00,2015-02-07 14:26:00+00,345,42307,40.736494,509,9 Ave & W 22 St,40.745497,-74.001971,21362,Subscriber,1962.0,1
10,NaN,W 34 St & 11 Ave,NaN,42532,-74.002116,984,2015-02-07 14:42:00+00,2015-02-07 14:59:00+00,525,42523,40.755942,388,W 26 St & 10 Ave,40.749718,-74.002950,14549,Customer,NaN,0
11,NaN,W 41 St & 8 Ave,NaN,42915,-73.990026,621,2015-02-07 15:23:00+00,2015-02-07 15:33:00+00,477,42906,40.756405,509,9 Ave & W 22 St,40.745497,-74.001971,20216,Subscriber,1980.0,1
12,NaN,E 25 St & 1 Ave,NaN,44448,-73.977387,397,2015-02-07 18:03:00+00,2015-02-07 18:10:00+00,174,44443,40.738177,528,2 Ave & E 31 St,40.742909,-73.977061,15948,Subscriber,1991.0,1
13,NaN,E 15 St & 3 Ave,NaN,44744,-73.986923,352,2015-02-07 18:39:00+00,2015-02-07 18:45:00+00,297,44739,40.734232,507,E 25 St & 2 Ave,40.739126,-73.979738,15367,Subscriber,1978.0,1
14,NaN,W 33 St & 7 Ave,NaN,44834,-73.990931,1063,2015-02-07 18:53:00+00,2015-02-07 19:11:00+00,492,44829,40.750200,174,E 25 St & 1 Ave,40.738177,-73.977387,20702,Subscriber,1989.0,2
15,NaN,E 33 St & 2 Ave,NaN,45301,-73.976056,483,2015-02-07 19:59:00+00,2015-02-07 20:07:00+00,527,45297,40.744023,325,E 19 St & 3 Ave,40.736245,-73.984738,20296,Subscriber,1984.0,1
16,NaN,8 Ave & W 33 St,NaN,0,-73.993934,447,2015-02-01 01:11:00+00,2015-02-01 01:19:00+00,490,93,40.751551,479,9 Ave & W 45 St,40.760193,-73.991255,15185,Subscriber,1983.0,2
17,NaN,Broadway & W 39 St,NaN,1,-73.987216,277,2015-02-01 10:26:00+00,2015-02-01 10:30:00+00,533,847,40.752996,515,W 43 St & 10 Ave,40.760094,-73.994618,16452,Subscriber,1978.0,1
18,NaN,W 18 St & 6 Ave,NaN,2,-73.994564,526,2015-02-01 11:07:00+00,2015-02-01 11:16:00+00,168,1180,40.739713,521,8 Ave & W 31 St,40.750450,-73.994811,16741,Subscriber,1984.0,1
19,NaN,Broadway & E 22 St,NaN,3,-73.989551,502,2015-02-01 12:37:00+00,2015-02-01 12:46:00+00,402,1971,40.740343,459,W 20 St & 11 Ave,40.746745,-74.007756,16951,Subscriber,1983.0,1
20,NaN,W 46 St & 11 Ave,NaN,4,-73.996674,943,2015-02-01 12:46:00+00,2015-02-01 13:02:00+00,508,2053,40.763414,521,8 Ave & W 31 St,40.750450,-73.994811,16897,Subscriber,1966.0,2
21,NaN,Great Jones St,NaN,5,-73.993790,563,2015-02-01 12:54:00+00,2015-02-01 13:03:00+00,229,2138,40.727434,346,Bank St & Hudson St,40.736529,-74.006180,16722,Subscriber,1984.0,1
22,NaN,Carmine St & 6 Ave,NaN,6,-74.002150,519,2015-02-01 15:21:00+00,2015-02-01 15:29:00+00,368,3591,40.730386,503,E 20 St & Park Ave,40.738274,-73.987520,15196,Subscriber,1968.0,1
23,NaN,E 12 St & 3 Ave,NaN,7,-73.988900,500,2015-02-01 17:38:00+00,2015-02-01 17:47:00+00,483,4983,40.732233,435,W 21 St & 6 Ave,40.741740,-73.994156,19409,Customer,NaN,0
24,NaN,W 20 St & 7 Ave,NaN,8,-73.997262,374,2015-02-01 17:48:00+00,2015-02-01 17:55:00+00,334,5067,40.742388,497,E 17 St & Broadway,40.737050,-73.990093,21456,Customer,NaN,0
25,NaN,E 11 St & 1 Ave,NaN,9,-73.984267,420,2015-02-01 19:26:00+00,2015-02-01 19:33:00+00,326,5748,40.729538,527,E 33 St & 2 Ave,40.744023,-73.976056,14878,Subscriber,1988.0,1
26,NaN,W 24 St & 7 Ave,NaN,10,-73.995299,315,2015-02-01 21:34:00+00,2015-02-01 21:39:00+00,446,6086,40.744876,521,8 Ave & W 31 St,40.750450,-73.994811,16042,Subscriber,1956.0,1
27,NaN,W 33 St & 7 Ave,NaN,38,-73.990931,302,2015-02-07 06:33:00+00,2015-02-07 06:38:00+00,492,39722,40.750200,493,W 45 St & 6 Ave,40.756800,-73.982912,18472,Subscriber,1972.0,1
28,NaN,W 17 St & 8 Ave,NaN,49,-74.001497,424,2015-02-07 00:00:00+00,2015-02-07 00:07:00+00,116,39412,40.741776,489,10 Ave & W 28 St,40.750664,-74.001768,19071,Subscriber,1963.0,1
29,NaN,E 15 St & 3 Ave,NaN,50,-73.986923,439,2015-02-07 03:43:00+00,2015-02-07 03:50:00+00,297,39651,40.734232,527,E 33 St & 2 Ave,40.744023,-73.976056,21448,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13201,NaN,Washington Pl & Broadway,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,46171,40.729039,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
13202,NaN,Allen St & Hester St,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,46172,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
13203,NaN,Warren St & Church St,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,46173,40.714740,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
13204,NaN,E 12 St & 3 Ave,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,46174,40.732233,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
13205,NaN,Dean St & 4 Ave,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,46175,40.683125,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
13206,NaN,Allen St & Hester St,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,46176,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
13207,NaN,Broadway & E 22 St,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,46177,40.740343,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
13208,NaN,Washington Pl & 6 Ave,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,46178,40.732241,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
13209,NaN,E 31 St & 3 Ave,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,46179,40.743943,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
13210,NaN,Broadway & W 60 St,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,46180,40.769155,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
13211,NaN,Carmine St & 6 Ave,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,46181,40.730386,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
13212,NaN,W 52 St & 5 Ave,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,46182,40.759923,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
13213,NaN,Dean St & 4 Ave,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,46183,40.683125,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
13214,NaN,9 Ave & W 45 St,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,46184,40.760193,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
13215,NaN,Broadway & W 58 St,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46185,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
13216,NaN,Broadway & W 58 St,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46186,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
13217,NaN,Watts St & Greenwich St,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,46187,40.724055,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
13218,NaN,W 51 St & 6 Ave,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,46188,40.760660,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
13219,NaN,University Pl & E 14 St,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,46189,40.734927,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
13220,NaN,W 11 St & 6 Ave,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,46190,40.735324,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
13221,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
13222,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
13223,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
13224,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
13225,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
13226,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
13227,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
13228,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
13229,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
13230,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

In [41]:
#What are average trip duration during weekends
query = '''Select AVG(tripduration) From fb55.citibike
Where extract(dow from starttime)= 0 or
    extract(dow from starttime) = 6
         '''
table = get_data(query)
table

          avg  Unnamed: 1
0  662.942181         NaN

In [50]:
#Can we do the same for weekday?(another way to contain all the weekday MOnday=1,Tuesday=2,Wednesday=3...Friday=5)
query = '''Select AVG(tripduration) From fb55.citibike
Where extract(dow from starttime) in (1,2,3,4,5)
         '''
#also can add 'not in (0,6)'
table = get_data(query)
table

          avg  Unnamed: 1
0  681.052292         NaN

In [72]:
#solution 2 to do the previous one
query = '''Select AVG(tripduration) From fb55.citibike
Where (extract(dow from starttime) != 0) and
    (extract(dow from starttime) != 6)
         '''
table = get_data(query)
table

          avg  Unnamed: 1
0  681.052292         NaN

# Task 3 — Working with Space

Showing the list of start station locations 

Using GROUP BY

In [83]:
query = '''Select distinct citibike.start_station_name, avg(citibike.start_station_longitude) as longitude, 
            avg(citibike.start_station_latitude) as latitude 
From fb55.citibike
group by citibike.start_station_name
         '''
table = get_data(query)
table.head(10)

        start_station_name  longitude   latitude
0         10 Ave & W 28 St -74.001768  40.750664
1         11 Ave & W 27 St -74.005226  40.751396
2         11 Ave & W 41 St -73.998842  40.760301
3         11 Ave & W 59 St -73.990541  40.771522
4         12 Ave & W 40 St -74.002777  40.760875
5          1 Ave & E 15 St -73.981656  40.732219
6          1 Ave & E 44 St -73.969053  40.750020
7          2 Ave & E 31 St -73.977061  40.742909
8          2 Ave & E 58 St -73.964785  40.760203
9  3 Ave & Schermerhorn St -73.979677  40.686832

In [82]:
#Showing the number of trips started per station
query = '''Select start_station_name, count(tripduration) From fb55.citibike
group by start_station_name
         '''
table = get_data(query)
table.head(10)

              start_station_name  count
0           E 30 St & Park Ave S    227
1        Pearl St & Anchorage Pl     54
2                W 56 St & 6 Ave    164
3                 West Thames St    107
4        Bank St & Washington St    125
5                8 Ave & W 52 St    133
6             E 11 St & Broadway    115
7       DeKalb Ave & Skillman St     10
8  Atlantic Ave & Fort Greene Pl     36
9              Avenue D & E 8 St     38

In [92]:
#... but only for stations within 500m of Time Square!
#The coordinates of Time Square is (40.7577,-73.9857)
query = '''Select start_station_name, count(tripduration) as number_of_trips,
            start_station_longitude, start_station_latitude
FROM fb55.citibike
WHERE st_dwithin(CDB_LatLng(start_station_latitude,
                            start_station_longitude)::geography,
                CDB_LatLng(40.7577,-73.9857)::geography, 
                500)
GROUP by start_station_name, start_station_longitude,start_station_latitude
         '''
table = get_data(query)
table.head(10)

,start_station_name,number_of_trips,start_station_longitude,start_station_latitude
0,Broadway & W 41 St,251,-73.986580,40.755136
1,Broadway & W 49 St,213,-73.984427,40.760647
2,W 41 St & 8 Ave,507,-73.990026,40.756405
3,W 42 St & 8 Ave,221,-73.990985,40.757570
4,W 43 St & 6 Ave,112,-73.983169,40.755273
5,W 45 St & 6 Ave,141,-73.982912,40.756800
6,W 45 St & 8 Ave,141,-73.988597,40.759291

# Task 4 — Putting it all together

In [95]:
#Find the station that had the longest average trip duration during weekends and within 500m of TimeSquare!
query = '''SELECT start_station_name, count(tripduration) as number_of_trips,
             avg(tripduration) AS avg_duration
From fb55.citibike

WHERE st_dwithin(CDB_LatLng(start_station_latitude,
                            start_station_longitude)::geography,
                CDB_LatLng(40.7577,-73.9857)::geography, 
                500)
OR
(EXTRACT(dow from starttime)= 0 or
    extract(dow from starttime) = 6)
    
GROUP by start_station_name
ORDER by avg_duration DESC
LIMIT 1
         '''
table = get_data(query)
table.head(10)

  start_station_name  number_of_trips  avg_duration
0    W 33 St & 7 Ave               48      1524.375

In [102]:
#Extra: create lines for trips started from stations within 500m of Times Squares and lasted less than 2 hours. 
#The number of trips per each pair of stations are output as attributes of these lines.
query = '''SELECT start_station_name, end_station_name, count(tripduration) as number_of_trips, tripduration
From fb55.citibike

WHERE st_dwithin(CDB_LatLng(start_station_latitude,
                            start_station_longitude)::geography,
                CDB_LatLng(40.7577,-73.9857)::geography, 
                500)
AND
(tripduration < 2*3600)
    
GROUP by start_station_name,end_station_name, tripduration
ORDER by tripduration DESC
         '''
table = get_data(query)
table

,start_station_name,end_station_name,number_of_trips,tripduration
0,W 45 St & 8 Ave,E 48 St & Madison Ave,1,6592
1,W 45 St & 8 Ave,W 45 St & 8 Ave,1,5815
2,W 42 St & 8 Ave,Broadway & W 58 St,1,5094
3,W 45 St & 6 Ave,E 37 St & Lexington Ave,1,4485
4,W 42 St & 8 Ave,Cadman Plaza E & Tillary St,1,3784
5,W 45 St & 8 Ave,W 46 St & 11 Ave,1,3517
6,W 45 St & 6 Ave,E 43 St & Vanderbilt Ave,1,3144
7,W 42 St & 8 Ave,W 21 St & 6 Ave,1,2994
8,W 43 St & 6 Ave,Grand Army Plaza & Central Park S,1,2811
9,Broadway & W 49 St,Broadway & W 51 St,1,2797
10,W 42 St & 8 Ave,Bond St & Schermerhorn St,1,2738
11,Broadway & W 41 St,Pearl St & Anchorage Pl,1,2716
12,W 41 St & 8 Ave,Cadman Plaza E & Red Cross Pl,1,2598
13,W 45 St & 6 Ave,E 14 St & Avenue B,1,2551
14,W 41 St & 8 Ave,Pearl St & Hanover Square,1,2506
15,Broadway & W 49 St,John St & William St,1,2492
16,W 41 St & 8 Ave,Front St & Maiden Ln,1,2481
17,W 43 St & 6 Ave,Broadway & W 41 St,1,2419
18,Broadway & W 49 St,Broadway & W 55 St,1,2338
19,W 45 St & 8 Ave,W 46 St & 11 Ave,1,2300
20,W 41 St & 8 Ave,Pearl St & Hanover Square,1,2283
21,Broadway & W 41 St,Cherry St,1,2217
22,W 45 St & 8 Ave,W 43 St & 10 Ave,1,2203
23,W 45 St & 6 Ave,Broadway & W 49 St,1,2200
24,W 41 St & 8 Ave,Clinton St & Joralemon St,1,2192
25,W 41 St & 8 Ave,Pearl St & Hanover Square,1,2114
26,W 45 St & 6 Ave,Columbia St & Rivington St,1,2057
27,Broadway & W 41 St,Forsyth St & Canal St,1,2031
28,W 41 St & 8 Ave,Howard St & Centre St,1,2018
29,W 41 St & 8 Ave,Maiden Ln & Pearl St,1,2015
...,...,...,...,...
1539,Broadway & W 41 St,Broadway & W 37 St,1,156
1540,W 41 St & 8 Ave,W 41 St & 8 Ave,1,156
1541,W 43 St & 6 Ave,W 44 St & 5 Ave,1,155
1542,W 42 St & 8 Ave,W 43 St & 10 Ave,1,148
1543,Broadway & W 49 St,W 49 St & 8 Ave,1,146
1544,W 45 St & 8 Ave,W 47 St & 10 Ave,1,141
1545,Broadway & W 41 St,Broadway & W 39 St,1,139
1546,W 42 St & 8 Ave,W 43 St & 10 Ave,1,139
1547,Broadway & W 41 St,Broadway & W 41 St,1,137
1548,Broadway & W 41 St,Broadway & W 37 St,1,136
1549,Broadway & W 41 St,W 41 St & 8 Ave,1,134
1550,W 42 St & 8 Ave,W 43 St & 10 Ave,1,133
1551,W 42 St & 8 Ave,W 43 St & 10 Ave,1,131
1552,W 41 St & 8 Ave,W 41 St & 8 Ave,1,129
1553,W 45 St & 8 Ave,W 45 St & 8 Ave,1,123
1554,Broadway & W 41 St,Broadway & W 37 St,1,118
1555,Broadway & W 41 St,Broadway & W 39 St,1,112
1556,W 45 St & 8 Ave,9 Ave & W 45 St,1,112
1557,Broadway & W 41 St,Broadway & W 39 St,1,107
1558,Broadway & W 41 St,Broadway & W 41 St,1,99
1559,W 41 St & 8 Ave,W 41 St & 8 Ave,2,93
1560,W 45 St & 8 Ave,W 45 St & 8 Ave,1,90
1561,Broadway & W 49 St,Broadway & W 49 St,1,85
1562,Broadway & W 49 St,Broadway & W 49 St,1,83
1563,W 42 St & 8 Ave,W 42 St & 8 Ave,1,80
1564,Broadway & W 49 St,Broadway & W 49 St,1,78
1565,W 42 St & 8 Ave,W 42 St & 8 Ave,1,71
1566,Broadway & W 49 St,Broadway & W 49 St,1,67
1567,Broadway & W 49 St,Broadway & W 49 St,1,66
1568,W 41 St & 8 Ave,W 41 St & 8 Ave,1,62

# EXTRA CREDIT: I set the environment at the beginning